<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        XAMLSpy 2
      </Title>
<Shortcut>xs2</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[this.service = new FirstFloor.XamlSpy.XamlSpyService(this);]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
